@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

.flex-center-full-hw {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background: url(./images/bg.jpg) no-repeat center center/cover;
}

.auth-form {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  border-radius: 15px;
  min-width: 300px;
  background: rgb(255, 255, 236);
  display: flex;
  align-items: center;
  justify-self: center;
}

.field-container {
  padding: 10px 0;
}

form h1 {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}

.auth-form .button-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bg-green {
  background: #862b0d !important;
}

.color-green {
  color: #862b0d !important;
}

form a {
  color: #862b0d;
  font-size: 15px;
}

footer {
  width: 100%;
  padding: 20px;
  color: white;
  text-align: center;
  background: #862b0d;
}

@media (max-width: 768px) {
  .auth-form {
    flex-direction: column;
  }
  .auth-form .gif img {
    height: 200px;
  }
}

@media (max-width: 768px) {
  .carousel li {
    height: unset;
  }
}

.category-container {
  border-top: 5px solid #862b0d;
  padding: 20px;
  background: #fcc5b581;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.category-card {
  width: 270px;
  margin: 20px;
  cursor: pointer;
}

.category-card img {
  width: 100%;
  border-radius: 12px;
}

.category-card p {
  color: #862b0d;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  font-style: italic;
}

@media (max-width: 900px) {
  .category-card {
    width: 170px;
  }
}

@media (max-width: 500px) {
  .category-card {
    width: 130px;
  }
  .category-card p {
    font-size: 18px;
  }
}

.search-box {
  padding: 20px;
  display: flex;
}

.search-box button {
  background: #862b0d !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.text-banner {
  text-align: center;
  color: #862b0d;
  width: 100%;
  padding: 30px 20px;
  background: #fcc5b581;
}

.text-banner button {
  background: #862b0d !important;
  margin: 10px 0;
  padding: 20px;
}

.brands {
  background: #fcc5b581;
  color: #862b0d;
  border-top: 5px solid #862b0d;
}

.brands-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.brands-img img {
  width: 200px;
  margin: 5px;
}

.brands h1 {
  text-align: center;
  font-style: italic;
  text-transform: uppercase;
  padding-top: 20px;
}

.add-prod-form {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  border-radius: 15px;
  min-width: 300px;
  background: rgb(255, 255, 236);
}
